@{
    ViewBag.Title = "Сериал.есть - О сериалах";
}
<link rel="stylesheet" href="~/css/style-other.css" />

<script type="text/javascript">
    var t;
    function up() {
        var top = Math.max(document.body.scrollTop, document.documentElement.scrollTop);
        if (top > 0) {
            window.scrollBy(0, -100);
            t = setTimeout('up()', 20);
        } else clearTimeout(t);
        return false;
    }
</script>
<script language="JavaScript">
    document.onselectstart = function () { return false }
    document.oncontextmenu = function () { return false }
    document.onmousedown = function () { return false }
</script>

<div class="about">
    <div class="container">
        <h1 class="subheading">Немного о сериалах</h1>
        <p>Сериал (телесериал) - считается одним из видов кинематографического искусства. Представляет собой произведение, которое состоит из большого количества частей (серий), которые объединены одним сюжетом, персонажами или творческой идеей. Подавляющее большинство всех сериалов построены на общности героев, зачастую действия (сцены) сериала также происходят на фоне одних и тех же декораций. Продолжительность серий относительно небольшая - до 40-50 минут. В отличие от кинематографических фильмов, показ (прокат) которых может осуществляться в кинотеатрах (на большом экране), сериалы транслируются по телевидению, также сериалы есть возможность смотреть в интернете ни их официальных веб-сайтах или сайтах транслирующих их телевизионных каналов.</p>
        
        <h2>История возникновения сериалов</h2>
        <p>Самые первые телесериалы стали снимать в США в 50-х годах прошлого века. Их прототипом были радионовеллы, возникшие как жанр в 30-е годы  - короткие мелодрамки, которые зачитывались в дневном эфире, а развязка сюжета всегда откладывалась до следующего раза. В силу того, что спонсорами этих радионовелл обычно выступали компании, которые производили мыло и чистящие средства их стали называть “Мыльными операми”. С развитием кинематографа эти истории начали экранизировать. Первоначально основной аудиторией телесериалов были домохозяйки. Но впоследствии это явление распространилось и на другие социальные и возрастные группы. На сегодняшний день среднестатистический американец проводит перед телевизором около 7 часов, а просмотр телесериалов занимает второе место после вечерних новостей по популярности.</p>
        <p>Самым первым в мире телесериалом считается “Одинокий рейнджер”. Он был показан в США в период с 1949 по 1957 года. Сериал начинается с того, что шесть рейнджеров попадают в засаду устроенную бандитами. Пятеро из них погибают, шестого, тяжело раненного, находит и выхаживает индеец по имени Тонто. Вместе они начинают бороться с преступностью на Диком Западе.</p>
        
        <p>В СССР появление сериалов неразрывно связывают с известной теленовеллой “Семнадцать мгновений весны”. Популярность его была неоспорима, даже в МВД отмечали, что на время трансляции его по телевидению уровень преступности снижался до нуля. После Перестройки в СССР начался бум мыльных опер - американских и мексиканских сериалов, которые не менее сильно “покорили” аудиторию. Первыми стали транслировать “Дикую Розу”, “Рабыню Изауру”, “Богатые тоже плачут”, “Санта Барбару”. После развала Советского Союза и общим экономического упадка в странах соцлагеря (России, Украине, Узбекистане, Казахстане, Беларуси, Таджикистане) о съемках своих сериалов (как и полнометражных фильмов) не шло и речи. Только к концу 90-х зрителя стали радовать экранизациями романов Марининой (сериал “Каменская”), Незнанского (“Марш Турецкого”, “Тайна следствия”), в то же время были сняты такие российские сериалы как “Менты”, “Бригада” и многие другие “шедевры”.</p>
        
        <h2>Топ 3 сериалов всех времён</h2>
        <h3>Друзья (1994-2004)</h3>
        <p>Шестеро лучших друзей — трое парней, трое девушек — живут по соседству. Девушки в одной квартире, ребята — напротив. Они ссорятся, мирятся, влюбляются друг в друга, попадают в необычные истории, проводят вечера в любимом кафе. Каждая серия длится 22 минуты.</p>
        
        <h3>Во все тяжкие (2008-2013)</h3>
        <p>Пять сезонов. В основе сюжета лежит история учителя химии Уолтера Уайта, который узнал, что болен раком легких. Он понимает, что ему осталось жить считанные месяцы, и решает поставить на кон все — чтобы обеспечить свою семью, жену и новорожденного ребенка. Как быстро заработать кучу денег, если ты хорошо знаешь химию? Может быть, попробовать варить амфетамин? Вскоре к онкобольному химику присоединяется молодой Джесси Пинкман — его бывший ученик, которого исключили из школы.</p>
        
        <h3>Секретные материалы  (1993-2002)</h3>
        <p>Девять сезонов. В главных ролях снимаются Джиллиан Андерсон и Дэвид Духовны, которые предстают перед зрителями в образе агентов ФБР Даны Скалли и Фокса Малдера. Они расследуют десятки нераскрытых дел, которые каким-то образом связаны с паранормальными явлениями, инопланетянами, случаями вампиризма и оборотничества… Каждая серия — это отдельный сюжет.</p>
        
    </div>

    <div class="up">
        <a class="button-up" href="#" onclick="return up()">🠕</a>
    </div>


</div>